## Paris Data 2020
Visualisation and Machine Learning

In [13]:
# Import classic pandas and numpy libraries
import pandas as pd
import numpy as np

In [14]:
# Particulate matter 2.5 µm
# (also called particle pollution): fine inhalable particles, with diameters that are generally 2.5
pm25 = pd.read_csv("data/PM10_2.csv", sep=';')
# Let's have a look at the dataset attributes
pm25.head()

,date,heure,PA01H,GEN,LOGNES,PA15L,CERGY,NOGENT,A1,DEF,...,RN2,HAUS,AUT,VITRY,RD934,BASCH,ELYS,RAMBO,BP_EST,TREMB
0,NaN,NaN,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,...,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3
1,2020-01-25,1.0,75,55,31,77,46,49,57,78,...,55,82,90,47,71,83,69,33,62,30
2,2020-01-25,2.0,75,56,24,71,45,45,69,80,...,55,77,93,45,70,92,71,38,66,25
3,2020-01-25,3.0,75,64,26,70,42,38,70,77,...,44,66,66,37,63,67,73,35,59,25
4,2020-01-25,4.0,71,54,24,70,37,41,46,72,...,40,70,95,39,63,63,63,38,57,26

In [15]:
# Nitrogen dioxide, NO2 is an intermediate in the industrial synthesis of nitric acid, 
# millions of tons of which are produced each year for use primarily in the production of fertilizers.
no2 = pd.read_csv("data/NO2_2.csv", sep=';')
# Let's have a look at the dataset attributes
no2.head()

,date,heure,PA01H,ARG,EVRY,GEN,LOGNES,MELUN,VILLEM,PA15L,...,CELES,ELYS,MONTG,NEUIL,PA12,BP_EST,AUB,EIFF3,PA07,TREMB
0,NaN,NaN,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,...,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3
1,2020-01-25,1.0,54,45,35,60,30,29,34,61,...,61,63,36,58,45,56,47,6,63,34
2,2020-01-25,2.0,56,45,35,60,29,27,33,59,...,60,65,38,59,44,61,51,5,58,34
3,2020-01-25,3.0,57,42,34,58,29,27,34,56,...,50,64,34,59,41,56,51,5,60,50
4,2020-01-25,4.0,55,42,37,51,26,25,39,60,...,57,59,38,58,46,66,48,5,56,35

In [16]:
# Ozone is an inorganic molecule with the chemical formula O3
o3 = pd.read_csv("data/O3_2.csv", sep=';')
# Let's have a look at the dataset attributes
o3.head()

,date,heure,PA01H,LOGNES,MELUN,VILLEM,CERGY,PA13,RUR-E,RUR-NO,...,RUR_S,RUR-SO,VITRY,MONTG,NEUIL,RUR-NE,RAMBO,EIFF3,RUR_N,TREMB
0,NaN,NaN,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,...,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3
1,2020-01-25,1.0,2,6,0,1,2,1,6,4,...,3,n/d,6,2,3,2,4,83,2,1
2,2020-01-25,2.0,2,7,0,0,2,1,4,4,...,3,n/d,4,2,3,2,4,86,2,1
3,2020-01-25,3.0,2,5,0,0,1,1,5,4,...,3,n/d,5,2,2,2,3,81,2,2
4,2020-01-25,4.0,1,5,0,0,1,1,2,4,...,3,n/d,5,2,2,1,3,73,2,1

In [17]:
# PM10 is particulate matter 10 micrometers or less in diameter
pm10 = pd.read_csv("data/PM10_2.csv", sep=';')
# Let's have a look at the dataset attributes
pm10.head()

,date,heure,PA01H,GEN,LOGNES,PA15L,CERGY,NOGENT,A1,DEF,...,RN2,HAUS,AUT,VITRY,RD934,BASCH,ELYS,RAMBO,BP_EST,TREMB
0,NaN,NaN,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,...,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3
1,2020-01-25,1.0,75,55,31,77,46,49,57,78,...,55,82,90,47,71,83,69,33,62,30
2,2020-01-25,2.0,75,56,24,71,45,45,69,80,...,55,77,93,45,70,92,71,38,66,25
3,2020-01-25,3.0,75,64,26,70,42,38,70,77,...,44,66,66,37,63,67,73,35,59,25
4,2020-01-25,4.0,71,54,24,70,37,41,46,72,...,40,70,95,39,63,63,63,38,57,26

In [18]:
# Sulfur dioxide is the chemical compound with the formula SO2
# It is a toxic gas responsible for the smell of burnt matches 
so2 = pd.read_csv("data/SO2_2.csv", sep=';')
# Let's have a look at the dataset attributes
so2.head()

,date,heure,RUR-SE,AUT,VITRY,NEUIL,AUB,EIFF3
0,NaN,NaN,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3
1,2020-01-25,1.0,1,2,2,2,1,n/d
2,2020-01-25,2.0,1,2,2,2,2,n/d
3,2020-01-25,3.0,1,1,2,2,2,n/d
4,2020-01-25,4.0,1,3,2,2,2,n/d